<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Banners</title>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <nav class="header__nav">
                    <a href="/root/" class="header__link header__link_active">Banners</a>
                    <a href="/root/categories/" class="header__link">Categories</a>
                </nav>
            </header>

            <main class="main" >
                <aside class="sidebar">
                    <header class="sidebar__header">Banners:</header>

                    <section class="sidebar__content" id="Bar"></section>

                    <footer class="sidebar__footer">
                        <button class="sidebar__submit-button" onclick="window.location.href='/root/create'">Create new Banner</button>
                    </footer>
                </aside>
                <section id="mainField" class="main"></section>
                <script src="/built/bundle.js"></script>
            </main>
        </div>
    </body>
</html>